
h2{
   font-size: 90px;
   color: #ffffff;
}



/*----------------about---------------------*/ 
.about{
   &__bg{
      background-color: $color-turquoise;
   }

   &__container{
      @include flex;
      min-height: 700px;

      img{
         width: 60%;
         padding-right: 100px;
      }

      p{
         font-size: 17px;
         line-height: 27px;
         color: $color-text-white;
      }
   }
}

/*----------------servise---------------------*/ 

.servise{
   &__bg{
   background-color: $color-blue;
   }

   &__container {
      @include flex;
      min-height: 790px;
   }

   &__menu {
      display: flex;
      flex-direction: column;
   }

   &__btn{
      @include flex;
      max-width: 400px;
      height: 99px;
      margin: 10px 50px;
      background: #ffff;
      box-shadow: -1px 3px 4px 0px #00000094;
      text-align: center;

      span{
         max-width: 300px;
         font-size: 20px;
         line-height: 27px;
         color: $color-text-black;
         font-weight: 700;
         padding: 0 70px;
      }

      

      img{
         padding: 23px;
      }
   }
   &__content {
      img{
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         object-fit: cover;
         
      }

      h2{ 
         position: relative;
         top: -290px;
      }
   }
}

.servise__btn:hover {
   @include btn__hover-servis;
}

.servise__btn:active {
   @include btn__active;
}



/*----------------contact---------------------*/ 

.contact{
   &__bg{
      background-image: $img-contact;
      background-repeat: repeat;
      background-size: 100%;
      -webkit-background-size: 100%;
   }

   &__heading h2{
      color: $color-text-black;
      font-weight: 700;
      text-align: center;
      padding: 99px 0 46px 0;
   }

   &__heading p{
      font-size: 17px;
      text-align: center;
      line-height: 25px;
   }
   
   &__inf {
      margin-top: 51px;
      display: flex;
      justify-content: space-between;
   }

   &__form {
      min-width: 500px;
      margin: 0 70px 105px 15px;
      display: flex;
      flex-direction: column;

      input{
         margin-bottom: 15px;
         height: 50px;
         color: $color-text-white;
      }

      textarea{
         min-height: 253px;
         color: $color-text-white;
      }
   }

   &__form--height{
      background-color: $color-turquoise-opacity;
      resize: none;
      padding: 20px 13px;
      font-size: 15px;
      font-weight: 300;
      outline: none;
   }

   &__info{
      align-items: flex-start;
     

      h4{
         color: $color-text-black;
         font-weight: 700;
      }

      p{
         font-size: 17px;
         line-height: 25px;
         color: $color-text-black;
      }
   }

   &__form--height::placeholder{
      font-size: 15px;
      line-height: 25px;
      color: #ffffff;
      font-weight: 300;
      
   }

   &__form--height:focus{
      @include form_focus;
   }


   &__form--height:visited{
      background-color: $color-turquoise;
   }
}



/*----------------footer---------------------*/ 

.footer{
   &__bg{
      background-color: $color-black;
      
   }

   &__container{
      @include flex;
      padding-top: 32px;
      min-height: 90px;

      p{
         color: $color-text-footer-gray;
         font-size: 15px;
      }
   }
}

.logo__small{
   font-family: 'Pacifico', cursive;
   font-size: 25px;
   line-height: 25px;
}


