$container-max-width: 1170px;
$container-padding: 15px;

$color-turquoise: #00c3c3;
$color-turquoise-opacity: #00c3c388;
$color-border-form: #355b82;
$color-blue: #70beff;
$img-contact: url(/img/bg_footer.png), ;
$color-black: #262626;
$color-text-white: #ffffff;
$color-text-black: #262626;
$color-text-footer-gray: #b9b9b9;

